# Release Workflow
# See here: https://blogs.itemis.com/en/github-actions-releasing-artifacts-into-maven-central
# and here: https://stackoverflow.com/questions/58254332/maven-release-from-github-actions

name: release-workflow
run-name: Release run ${{ github.run_number }}, version ${{ github.event.inputs.releaseVersion }}
on:
  workflow_dispatch: # Only run when manually started
    inputs:
      branch:
        description: "The branch to create the release from."
        required: true
        default: "master"
      releaseVersion:
        description: "The version to use for the release."
        required: true
        default: "X.Y.Z"
      developmentVersion:
        description: "The next development version to use."
        required: true
        default: "X.Y.Z-SNAPSHOT"

jobs:
  release: # Arbitrarily chosen
    name: Release # Arbitrarily chosen
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.branch }}
      - name: Setup Java
        uses: actions/setup-java@v5 # Also sets up Maven, see https://github.com/actions/setup-java
        with:
          distribution: 'temurin'
          java-version: '25'
          # No GPG setup done here, I use Java-only signing, not GPG, see: https://stackoverflow.com/a/66218731
      - name: Configure Git User
        run: |
          git config user.email "ruedigerkeller@mail.de"
          git config user.name "Contractfirst-Generator Release Workflow"
      - name: Build & Deploy Release
        run: mvn release:clean release:prepare release:perform -B -e -s .github/workflows/release-settings.xml -DreleaseVersion=${{ github.event.inputs.releaseVersion }} -DdevelopmentVersion=${{ github.event.inputs.developmentVersion }}
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ github.token }}
          CENTRAL_USER_TOKEN_USERNAME: ${{ secrets.CENTRAL_USER_TOKEN_USERNAME }}
          CENTRAL_USER_TOKEN_PASSWORD: ${{ secrets.CENTRAL_USER_TOKEN_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PRIVATE_KEY_PASSPHRASE }}
          MAVEN_GPG_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Display publishing URL
        run: |
          echo 'Release artifacts must be published manually.' >> $GITHUB_STEP_SUMMARY
          echo 'https://central.sonatype.com/publishing/deployments' >> $GITHUB_STEP_SUMMARY
